In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("ds_salaries.csv")

In [3]:
data.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [4]:
data["job_title"]

0                  Data Scientist
1      Machine Learning Scientist
2               Big Data Engineer
3            Product Data Analyst
4       Machine Learning Engineer
                  ...
602                 Data Engineer
603                 Data Engineer
604                  Data Analyst
605                  Data Analyst
606                  AI Scientist
Name: job_title, Length: 607, dtype: object

In [7]:
data.groupby("job_title")
print(data.groupby("job_title"))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001865F411E50>

In [9]:
data.groupby("job_title")["salary_in_usd"].mean()

job_title
3D Computer Vision Researcher                 5409.000000
AI Scientist                                 66135.571429
Analytics Engineer                          175000.000000
Applied Data Scientist                      175655.000000
Applied Machine Learning Scientist          142068.750000
BI Data Analyst                              74755.166667
Big Data Architect                           99703.000000
Big Data Engineer                            51974.000000
Business Data Analyst                        76691.200000
Cloud Data Engineer                         124647.000000
Computer Vision Engineer                     44419.333333
Computer Vision Software Engineer           105248.666667
Data Analyst                                 92893.061856
Data Analytics Engineer                      64799.250000
Data Analytics Lead                         405000.000000
Data Analytics Manager                      127134.285714
Data Architect                              177873.909091
Data Engineer                               112725.000000
Data Engineering Manager                    123227.200000
Data Science Consultant                      69420.714286
Data Science Engineer                        75803.333333
Data Science Manager                        158328.500000
Data Scientist                              108187.832168
Data Specialist                             165000.000000
Director of Data Engineering                156738.000000
Director of Data Science                    195074.000000
ETL Developer                                54957.000000
Finance Data Analyst                         61896.000000
Financial Data Analyst                      275000.000000
Head of Data                                160162.600000
Head of Data Science                        146718.750000
Head of Machine Learning                     79039.000000
Lead Data Analyst                            92203.000000
Lead Data Engineer                          139724.500000
Lead Data Scientist                         115190.000000
Lead Machine Learning Engineer               87932.000000
ML Engineer                                 117504.000000
Machine Learning Developer                   85860.666667
Machine Learning Engineer                   104880.146341
Machine Learning Infrastructure Engineer    101145.000000
Machine Learning Manager                    117104.000000
Machine Learning Scientist                  158412.500000
Marketing Data Analyst                       88654.000000
NLP Engineer                                 37236.000000
Principal Data Analyst                      122500.000000
Principal Data Engineer                     328333.333333
Principal Data Scientist                    215242.428571
Product Data Analyst                         13036.000000
Research Scientist                          109019.500000
Staff Data Scientist                        105000.000000
Name: salary_in_usd, dtype: float64

In [11]:
data_RU = data[data['company_location']=='RU']

In [12]:
data_RU.shape

(2, 12)

In [13]:
print(data_RU)

     Unnamed: 0  work_year experience_level employment_type  \
160         160       2021               EX              FT
161         161       2021               EX              FT

                job_title  salary salary_currency  salary_in_usd  \
160          Head of Data  230000             USD         230000
161  Head of Data Science   85000             USD          85000

    employee_residence  remote_ratio company_location company_size
160                 RU            50               RU            L
161                 RU             0               RU            M